@model DACS.Models.Podcast

@{
    ViewData["Title"] = "Thêm podcast";
}

    <div style="margin:10px">
        <form asp-action="CreatePodcast">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <label asp-for="Title" class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="TopicID" class="control-label">Chọn chủ đề</label>
                <select asp-for="TopicID" class="form-control" asp-items="ViewBag.Topics"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Chọn ảnh podcast</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button style="margin-left:10px" type="submit" class="btn btn-danger btn-sm py-3 px-4 small">Tạo podcast</button>
            </div>
        </form>
    </div>

<div>
    <form asp-action="MyPodcast" method="get">
        <button style="margin-left:20px; margin-bottom: 20px" type="submit" class="btn btn-danger btn-sm py-3 px-4 small">Trở về</button>
    </form>
</div>
