@model DACS.Models.PodcastViewModel
@{
    ViewData["Title"] = "Danh sách Podcast";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center mt-4">Chào mừng bạn đến với Website Nghe Podcast!</h2>
            <p class="lead">Website Nghe Podcast là nơi tập trung những chương trình podcast đa dạng và phong phú, đem đến cho bạn trải nghiệm nghe tuyệt vời và đầy cảm hứng từ các chủ đề đa dạng.</p>

            <h3 class="mt-5">Chúng tôi là ai?</h3>
            <p>Chúng tôi là một đội ngũ đam mê về việc chia sẻ kiến thức, kinh nghiệm và câu chuyện thông qua nền tảng podcast. Với sứ mệnh kết nối cộng đồng và mang lại giá trị đích thực cho người nghe, chúng tôi luôn nỗ lực cung cấp những nội dung chất lượng nhất.</p>

            <h3 class="mt-5">Sứ mệnh của chúng tôi</h3>
            <p>Sứ mệnh của chúng tôi là tạo ra một không gian mở, thú vị và bổ ích cho mọi người, nơi mà họ có thể thảo luận, học hỏi và trải nghiệm những câu chuyện và thông điệp ý nghĩa từ các chương trình podcast. Chúng tôi tin rằng mỗi chủ đề, mỗi cuộc trò chuyện đều có thể là nguồn cảm hứng và động lực cho sự phát triển cá nhân và chia sẻ kiến thức.</p>

            <h3 class="mt-5">Nội dung của chúng tôi</h3>
            <p>Tại Website Nghe Podcast, bạn sẽ tìm thấy một loạt các chương trình podcast về nhiều chủ đề khác nhau như nghệ thuật, khoa học, kinh doanh, tâm lý học, phát triển cá nhân và nhiều hơn nữa. Mỗi chương trình được tạo ra với sự chăm sóc kỹ lưỡng và mang đến cho bạn những câu chuyện, ý kiến và thông điệp sâu sắc từ các chuyên gia, nhà nghiên cứu và người nổi tiếng trong lĩnh vực.</p>

            <h3 class="mt-5">Liên hệ</h3>
            <p>Chúng tôi luôn hoan nghênh sự phản hồi và góp ý từ bạn. Đừng ngần ngại liên hệ với chúng tôi qua huynhtanloc1802@gmail.com để chia sẻ ý kiến, góp ý hoặc yêu cầu chủ đề mới cho các chương trình podcast tương lai.</p>
            <p>Kết nối với chúng tôi trên các mạng xã hội để cập nhật tin tức và thông tin mới nhất về Website Nghe Podcast.</p>
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="#" class="social-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <p class="text-center">Cảm ơn bạn đã ghé thăm Website Nghe Podcast và hãy cùng chúng tôi trải nghiệm những chương trình podcast thú vị và bổ ích!</p>
        </div>
    </div>
</div>
<div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
    @foreach (var item in Model.Podcasts)
    {
        <div class="btn-group" style="width:10%">
            <a asp-controller="Episode" asp-action="EpisodesByPodcast" asp-route-id="@item.PodcastID">
                <button style="background-image: url('/@item.ImageUrl'); background-size: cover; width: 200px; height: 50px; color: white; font-size: 16px; border: none; border-radius: 5px; cursor: pointer;"></button>
            </a>
        </div>
    }
</div>
