<!DOCTYPE html>
<html lang="en">
<head>
    <title>Website Nghe Podcast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 absolute transparent" role="banner">

            <div class="container">
                <div class="row align-items-center">


                    <div class="col-3" data-aos="fade-down">
                        <h1><a asp-controller="Home" asp-action="Index" class="text-white h2">Podcast</a></h1>
                    </div>
                    <div class="col-9" data-aos="fade-down">
                        <nav class="site-navigation position-relative text-right text-md-right" role="navigation">



                            <div class="d-inline-block ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-orange"><span class="icon-menu h3"></span></a></div>

                            <ul class="site-menu js-clone-nav d-none">
                                <li class="has-children">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                        <li class="has-children">
                                            <a href="#">Sub Menu</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Menu One</a></li>
                                                <li><a href="#">Menu Two</a></li>
                                                <li><a href="#">Menu Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Dropdown</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li class="has-children">
                                    <a>Account</a>
                                    <partial name="_LoginPartial" />
                                </li>
                            </ul>
                            
                        </nav>


                    </div>

                </div>
            </div>

        </header>

        @RenderBody()

        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mb-5" data-aos="fade-up">
                        <h2 class="display-4 mb-5 text-black">The Podcaster</h2>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
                        <img src="https://kenh14cdn.com/203336854389633024/2023/12/17/mc-thuy-minh-1803-1575887614-1867-1575945427-1702817530234422110028.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                        <h2 class="text-black font-weight-light mb-4">
                            Host Thùy Minh
                        </h2>
                        <p>Là một cá nhân rất đa tài và có sức ảnh hưởng mạnh mẽ trong cộng đồng truyền thông. Với gu thẩm mỹ tinh tế và khả năng giao tiếp tự nhiên, cô ấy không chỉ là một người dẫn chương trình xuất sắc mà còn là một diễn giả truyền cảm hứng. Thùy Minh không ngừng chinh phục khán giả với sự sâu sắc và sự gần gũi, đồng thời là nguồn cảm hứng vô tận cho những ai đam mê nghệ thuật và sự sáng tạo.</p>
                        <p>
                            <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
                        <img src="~/images/BLVAnhQuang.png" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                        <h2 class="text-black font-weight-light mb-4">BLV Anh Quang</h2>
                        <p>Anh Quang là một bình luận viên nổi tiếng trên trang webthethao, với sự hiểu biết sâu sắc về các môn thể thao và khả năng phân tích tinh tế. Ông là người có giọng điệu sôi nổi và lôi cuốn, luôn mang lại cho người nghe những trải nghiệm thú vị và sâu sắc về thế giới thể thao. Với kiến thức rộng lớn và cái nhìn chiến lược, Anh Quang không chỉ là một bình luận viên xuất sắc mà còn là nguồn cảm hứng lớn cho các fan hâm mộ thể thao.</p>
                        <p>
                            <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
                        <img src="~/images/ThayMinhNiem.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                        <h2 class="text-black font-weight-light mb-4">
                            Thầy Minh Niệm
                        </h2>
                        <p>Thầy Minh Niệm là một nhà giáo, nhà tư vấn tâm lý và diễn giả có uy tín trong cộng đồng phát triển bản thân và tâm lý học tích cực. Với kiến thức sâu rộng về phương pháp học tập và trải nghiệm thực tiễn, Thầy Minh Niệm đã tạo dựng cho mình một vị thế đáng nể trong việc giúp đỡ người khác hiểu biết và phát triển bản thân.</p>
                        <p>
                            <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="col-md-12">
                        <img src="~/images/hero_bg_1.jpg" alt="Image" class="img-fluid mb-5">
                    </div>
                    <div class="col-md-6">
                        <p class="lead"><a href="#"></a> Podcast là một phương tiện truyền thông mạnh mẽ, mang lại sự tiện lợi và linh hoạt cho người nghe. Với khả năng lắng nghe trên nhiều nền tảng và thiết bị di động, podcast đã trở thành nguồn thông tin giáo dục và giải trí hữu ích trong cuộc sống hàng ngày của con người. Từ việc nghe podcast về nghệ thuật, khoa học, kinh doanh đến podcast về tâm lý học và phát triển cá nhân, người nghe có cơ hội mở rộng kiến thức và tạo ra sự kết nối với thế giới xung quanh.</p>
                        <p>Podcast không chỉ là nguồn giải trí mà còn là một công cụ hữu ích trong việc cải thiện sự hiểu biết và kỹ năng của con người. Nhờ vào đa dạng chủ đề và phong cách trình bày, người nghe có thể tìm kiếm và lựa chọn nội dung phù hợp với sở thích và mục tiêu cá nhân của mình. Từ việc học hỏi kinh nghiệm từ những người thành công đến việc tìm hiểu về các xu hướng mới trong nghệ thuật và công nghệ, podcast mang lại cho con người cơ hội không ngừng phát triển và hoàn thiện bản thân.</p>
                    </div>
                    <div class="col-md-6">
                        <p> Podcast có tác động tích cực đến tâm trạng và tinh thần của người nghe. Những chương trình podcast về chủ đề tâm lý học, mindfulness và self-care giúp người nghe tạo ra một không gian yên bình và tĩnh lặng trong cuộc sống hối hả. Việc thư giãn và lắng nghe những câu chuyện đầy cảm hứng và tri thức từ podcast cũng giúp giảm căng thẳng và lo âu, tạo ra một tâm trạng tích cực và sự cân bằng trong cuộc sống hàng ngày.</p>
                        <p> Podcast không chỉ là một phương tiện truyền thông mà còn là một cộng đồng, nơi mà những người có cùng sở thích và quan điểm có thể kết nối và giao lưu với nhau. Từ việc thảo luận về nội dung của các chương trình podcast đến việc chia sẻ kinh nghiệm và ý kiến, cộng đồng podcast là một môi trường sôi động và đa dạng, tạo ra một trải nghiệm nghe độc đáo và mang lại sự phấn khích và hứng khởi cho người tham gia.</p>
                    </div>
                </div>
            </div>
        </div> 





        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-5">
                            <h3 class="footer-heading mb-4">About Podca</h3>
                            <p>Website cung cấp các tập podcast có nội dụng sâu sắc và hấp dẫn!</p>
                        </div>

                        <div class="mb-5">
                            <h3 class="footer-heading mb-4">Recent Podcast</h3>
                            <div class="block-25">
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a href="#" class="d-flex">
                                            <figure class="image mr-4">
                                                <img src="~/images/img_1.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="text">
                                                <h3 class="heading font-weight-light">Vấn nạn chia điểm cho các thành viên trong quá trình làm việc nhóm - Tập 4</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="#" class="d-flex">
                                            <figure class="image mr-4">
                                                <img src="~/images/img_1.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="text">
                                                <h3 class="heading font-weight-light">Vấn nạn chia điểm cho các thành viên trong quá trình làm việc nhóm - Tập 3</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="#" class="d-flex">
                                            <figure class="image mr-4">
                                                <img src="~/images/img_1.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="text">
                                                <h3 class="heading font-weight-light">Vấn nạn chia điểm cho các thành viên trong quá trình làm việc nhóm - Tập 2</h3>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Quick Menu</h3>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Matches</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Team</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Membership</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Follow Us</h3>

                                <div>
                                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="mb-5">
                            <h3 class="footer-heading mb-4">Watch Video</h3>

                            <div class="block-16">
                                <figure>
                                    <img src="~/images/img_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                                    <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                                </figure>
                            </div>

                        </div>

                        <div class="mb-5">
                            <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
                            <p>Website cung cấp các tập podcast có nội dụng sâu sắc và hấp dẫn.</p>

                            <form action="#" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/mediaelement-and-player.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>


    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>