
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Website Nghe Podcast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">

    <style>
        #searchForm .input-group {
            border: none;
            border-radius: 25px;
            overflow: hidden;
            position: relative; /* Để có thể định vị icon trong input */
        }

            #searchForm .input-group input {
                border: none;
                border-radius: 25px;
                padding: 10px 40px 10px 15px; /* 40px để có không gian cho icon */
                outline: none;
                box-shadow: none;
                width: 100%; /* Đảm bảo input mở rộng đến hết không gian có thể */
            }

            #searchForm .input-group button {
                border: none;
                border-radius: 25px 0 0 25px; /* Bo cong chiều rộng bên trái */
                color: white; /* Màu chữ cho nút */
                padding: 10px 20px; /* Điều chỉnh padding cho nút */
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto; /* Để căn chỉnh nút theo chiều dọc */
            }
    </style>
</head>
<body>
    @{
        var isAdmin = User.IsInRole("Admin");
    }
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 fixed transparent" role="banner">

            <div class="container">
                <div class="row align-items-center">


                    <div class="col-3" data-aos="fade-down">
                        <h1><a asp-controller="Home" asp-action="Index" class="text-white h2">Podcast</a></h1>
                    </div>
                    <div class="col-9" data-aos="fade-down">
                        <nav class="site-navigation position-relative text-right text-md-right" role="navigation">



                            <div class="d-inline-block ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-orange"><span class="icon-menu h3"></span></a></div>

                            <ul class="site-menu js-clone-nav d-none">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                                    @* <ul class="dropdown arrow-top"></ul> *@
                                </li>
                                <li><a asp-controller="User" asp-action="MyPodcast">Podcast của tôi</a></li>
                                <li><a asp-controller="User" asp-action="MyPlaylist">Danh sách phát</a></li>
                                @if (isAdmin)
                                {
                                    <li><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
                                }
                                
                                <li><a asp-controller="Home" asp-action="About">Giới thiệu</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                                <li class="has-children">
                                    <a>Tài khoản</a>
                                    <partial name="_LoginPartial" />
                                </li>
                            </ul>
                            
                        </nav>


                    </div>
                    <div class="col-3" data-aos="fade-down">
                        <form id="searchForm">
                            <div class="input-group">
                                <input type="text" id="postTitle" name="postTitle" placeholder="Nhập từ khoá" />
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </header>

        @RenderBody()

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-5">
                            <h3 class="footer-heading mb-4">About Podca</h3>
                            <p>Website cung cấp các tập podcast có nội dụng sâu sắc và hấp dẫn!</p>
                        </div>

                        <div class="mb-5">
                            <h3 class="footer-heading mb-4">Recent Podcast</h3>
                            <div class="block-25">
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a href="#" class="d-flex">
                                            <figure class="image mr-4">
                                                <img src="~/images/img_1.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="text">
                                                <h3 class="heading font-weight-light">Vấn nạn chia điểm cho các thành viên trong quá trình làm việc nhóm - Tập 4</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="#" class="d-flex">
                                            <figure class="image mr-4">
                                                <img src="~/images/img_1.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="text">
                                                <h3 class="heading font-weight-light">Vấn nạn chia điểm cho các thành viên trong quá trình làm việc nhóm - Tập 3</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="#" class="d-flex">
                                            <figure class="image mr-4">
                                                <img src="~/images/img_1.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="text">
                                                <h3 class="heading font-weight-light">Vấn nạn chia điểm cho các thành viên trong quá trình làm việc nhóm - Tập 2</h3>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Quick Menu</h3>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Matches</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Team</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Membership</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Follow Us</h3>

                                <div>
                                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="mb-5">
                            <h3 class="footer-heading mb-4">Watch Video</h3>

                            <div class="block-16">
                                <figure>
                                    <img src="~/images/hero_bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                                    <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                                </figure>
                            </div>

                        </div>

                        <div class="mb-5">
                            <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
                            <p>Website cung cấp các tập podcast có nội dụng sâu sắc và hấp dẫn.</p>

                            <form action="#" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/mediaelement-and-player.min.js"></script>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn form gửi ngay lập tức
            var keyword = document.getElementById('postTitle').value;
            var searchButton = document.getElementById('searchButton');

            // Cập nhật thuộc tính href để bao gồm giá trị keyword
            var actionUrl = '@Url.Action("SearchPodcast", "Home")' + '?keyword=' + encodeURIComponent(keyword);
            window.location.href = actionUrl; // Điều hướng tới URL mới
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>


    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>