@model IEnumerable<DACS.Models.Topic>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .table th:nth-child(1), .table td:nth-child(1) {
        width: 10%; /* Đặt độ rộng cho cột "Tên chủ đề", bạn có thể thay đổi % theo ý muốn */
    }

    .table th:nth-child(2), .table td:nth-child(2) {
        width: 60%; /* Đặt độ rộng cho cột "Mô tả", bạn có thể thay đổi % theo ý muốn */
    }

    .table .col-sm {
        width: 200px; /* Điều chỉnh độ rộng hình ảnh */
        height: 200px; /* Điều chỉnh chiều cao hình ảnh */
    }

    .btn-custom {
        margin-left: 20px;
        margin-bottom: 20px;
    }
</style>
<h1>Danh sách chủ đề</h1>

<p>
    <form asp-controller="Admin" asp-action="CreateTopic">
        <button style="margin-left:20px; margin-bottom: 20px" type="submit" class="btn btn-danger btn-sm py-3 px-4 small">Tạo chủ đề mới</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên chủ đề
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="/images/@item.ImageURL" class="col-sm" alt="..." />
                </td>
                <td>
                    <a asp-action="EditTopic" asp-route-id="@item.TopicID">
                        <button class="btn btn-danger btn-sm py-3 px-4 small">Chỉnh sửa</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>